<a class="nav-item" href="/">Home</a>
<a class="nav-item" href="/company/history">Our History</a>
<a class="nav-item" href="/company/work-history">Previous Work</a>
<a class="nav-item" href="/company/staff">Staff</a>
<a class="nav-item" href="/company/contact-us">Contact Us</a>
<a class="nav-item" href="/company/links">Links</a>
