<!-- <a class="nav-item" href="/">Home</a>
<a class="nav-item" href="/company/history">Our History</a>
<a class="nav-item" href="/company/work-history">Previous Work</a>
<a class="nav-item" href="/company/staff">Staff</a>
<a class="nav-item" href="/company/contact-us">Contact Us</a>
<a class="nav-item" href="/company/links">Links</a> -->

<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/company/history">Company-History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/company/work-history">Work-History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/company/staff">Staff</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/company/contact-us">Contact-Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/company/links">Links</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
