<%- include('./partials/header') %> <%- include('./partials/nav') %>
<div id="index">
<h1 id="index-header">Mission Impossible</h1>
<p id="index-content">
  Our company mission statement is to provide our employees with unlimited
  amount of labor from robots and humans, our goal is to seamlessly integrate
  our empty warehouse full of nothing into our very big none existent trucks and
  then ship it into oblivion where our customers will receive their imaginary
  goods.ssomewhere in the universe.
</p>
</div>
<%- include('./partials/footer') %>
