<%- include('../partials/header') %> <%- include('../partials/nav') %>
<h1>Contact Info</h1>
<div id="contact-info-card">
  <div>
    <h3>Phone Number:</h3>
  </div>
  <div>
    <h3>Email:</h3>
  </div>
  <div>
    <h3>Contact us directly!</h3>
    <textarea name="contact-request" id="" cols="30" rows="10"></textarea>
  </div>
</div>
<%- include('../partials/footer') %>
