<%- include('../partials/header') %> <%- include('../partials/nav') %>
<h1 id="contact-header">Contact Info</h1>
<div id="contact-info-card">
  <div>
    <h5 id="first-contact" class="contact-content">Phone:</h5>
    <h3 class="contact-info contact-content">000-000-0000</h3>
  </div>
  <div>
    <h5 class="contact-content">Email:</h5>
    <h3 class="contact-info contact-content">contact.us@email.com</h3>
  </div>
</div>
<div id="contact-text-area">
  <h3>Contact us directly!</h3>
  <textarea
    name="contact-request"
    cols="30"
    rows="10"
    placeholder="Type here..."
  ></textarea>
</div>
<%- include('../partials/footer') %>
