<%- include('../partials/header') %> <%- include('../partials/nav') %>
<div id="company-history">
  <h1>Company History</h1>
  <p id="company-history-content">
    just started about 1 day ago and our first day we already made a whopping $1
    trillion dollars.who doesn’t love unlimited labor from our amazing
    robots.forget the humans they complain about their pay when we are already
    paying them 500k per year.
  </p>
</div>
<%- include('../partials/footer') %>
